//




//icon


//mobile dyamic text
/*
// TEXT DYNAMICS
.dynamic-txts{
       
    line-height: 100px;
      height: 53px;
  overflow: hidden;
}
//mediaquery

.dynamic-txts ul span{
     line-height: 100px !important;
}

.dynamic-txts li{
  list-style: none;
     position: relative;
     top: 0;
 animation: slide 21s steps(3) infinite;
}
@keyframes slide {
  100%{
    top: -190px;
  }
}

.dynamic-txts li p{
  position: relative;


}
.dynamic-txts li p::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
background: rgb(24, 24, 24) !important;
  border-left: 2px solid #FC6D6D;
  animation: typing 7s steps(16) infinite;

}
@keyframes typing {
   40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }}

.dynamic-txts2{
       
    line-height: 100px;
      height: 43px;
 overflow: hidden;
}
.dynamic-txts2 ul span{
     line-height: 120px !important;
}

.dynamic-txts2 li{
  list-style: none;
     position: relative;
     top: 0;
 animation: slide2 21s steps(3) infinite;
}
@keyframes slide2 {
  100%{
    top: -150px;
  }
}

.dynamic-txts2 li p{
  position: relative;


}
.dynamic-txts2 li p::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
background: rgb(24,24,24);
  border-left: 2px solid #FC6D6D;
  animation: typing2 7s steps(16) infinite;

}
@keyframes typing2 {
   40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }}
  */

  .slider li{
    list-style: none;
    height: 60px;
     overflow: hidden;

  }

  .t1{
    animation: slide 5s linear infinite;
  }
    @keyframes slide {
  0% {margin-top:0px;}
  
  33% {margin-top:-200px;}
 
  66% {margin-top:-100px;}
  
  100% {margin-top:0px;}
}   

// new

.animated-text{
  color: #fff;
  
  
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
}

.line{
  
  text-transform: uppercase;
  text-align: center;
 font-size: 25px;
  line-height: 60px;
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}
