//



// TEXT DYNAMICS
.dynamic-txts{
       
    line-height: 100px;
      height: 53px;
  overflow: hidden;
}
//mediaquery

.dynamic-txts ul span{
     line-height: 100px !important;
}

.dynamic-txts li{
  list-style: none;
     position: relative;
     top: 0;
 animation: slide 21s steps(3) infinite;
}
@keyframes slide {
  100%{
    top: -190px;
  }
}

.dynamic-txts li p{
  position: relative;


}
.dynamic-txts li p::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
background: rgb(15,15,15);
  border-left: 2px solid #FC6D6D;
  animation: typing 7s steps(16) infinite;

}
@keyframes typing {
   40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }}

//icon

.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

