$blue: #087e8b ;
$red: #ff5a5f;
$black: rgb(15,15,15) ;
$white: #f5f5f5;
$blackdark: rgb(24, 24, 24) ;


body {
background: rgb(24, 24, 24) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.myRedBg {
  background-color: $red;
}

.myTextRed {
  color: $red;
}

.myBluBg {
  background-color: $blue !important;
}

.myTextBlu {
  color: $blue;
}

.myBlackBg {
  background-color: $black !important;
}

.myWhiteBg {
  background-color: $white !important;
}
.myBlackDarkBg{
 background: $blackdark ;
}
.myTextWhite
 {
  color:white!important;
}
.myTextBlack
 {
  color:$blackdark!important;
}
.presentatio{
    display: flex !important;
      position: relative;
        z-index: 10000;
    
}

.presentatio Col{
  overflow: hidden;
}
.mycard{
    position: relative !important;
    width: 300px !important;
    height: 375px !important;
    margin: 20px 20px !important;
  box-shadow: 0 10px 25px rgb(0,0,0, 0.2);
 backdrop-filter: blur(15px);
 background: $blackdark ;
   overflow: hidden;

}

.myrounded{

   -webkit-box-shadow: 0px 11px 15px 5px rgba(0,0,0,0.45); 
box-shadow: 0px 11px 15px 5px rgba(0,0,0,0.45);

}
.figure{

position: absolute;
  width: 100%;
  height: 100%;
 background:$red;
  clip-path: ellipse(34% 11% at 50% 0%);
 overflow: visible;
}
.figure:hover{
   clip-path: ellipse(100% 100% at 50% 0%);
    transition: 0.5s ease-in-out;
}


hr {

  /* Set the hr color */
  color: #ffffff;  /* old IE */
 border-top: 2px solid rgb(255, 255, 255) !important}
  /* MyAccordin

  .myccordion,
  button{
     color: white !important;
    background-color: black  !important;
border: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}*/

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
   
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($black, 10%);
   
    }
    &::after {
     content: "\276F"; 
      width: 1em;
      height: 1em;
      text-align: center;
      transform: rotate(90deg);
      transition: all .35s;
      
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $white;
  
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
   
    cursor: pointer;
    
    
  }
}

// :hover
label:hover {
  + .tab-label {
    background: darken($blue, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

 

// Css Nuovo
 // up and down smart1 e smart2
.vert-move{
 
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.vert-move2{
 
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover2 1s infinite  alternate;
}
.vert-move2 {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover2 1s infinite  alternate;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
@keyframes mover2 {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

 // dimension smart1 smart2

 @media (max-width: 568px){
 
 }

 //dimenion pc1
 .imgpc{
  width: 100%;
 }

 // icon progrms
 .programs-icon {
    width:50px;
margin-top: 20px;
margin-bottom: 20px;

    display: inline-flex;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
   }

   .mybutton{
    width: 200px;
    height: 50px;
  
   }

            
         .btn-grad {
            background-image: linear-gradient(to right, $red 0%, $blue  51%, $red 100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #000000;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         

.textdecorationnone{
  text-decoration: none;
}

 .btn-grad2 {
            background-image: linear-gradient(to right, $red 0%, $blue  51%, $red 100%);
             width: 200px;
    height: 50px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #000000;
            border-radius: 10px;
            display: block;
          }

          .btn-grad2:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }